/PostfixExpressions/target/
/UpperCase/nbproject/private/
/Uppercase/build/
/Uppercase/dist/
/IntegerCollection/nbproject/private/
/IntegerCollection/build/
/PostfixExpressions/nbproject/private/
/PostfixExpressions/build/
/PostfixExpressions/dist/
/IntegerCollection/dist/
/ConcordanceAlgorithm/nbproject/private/
/ConcordanceAlgorithm/build/
/ConcordanceAlgorithm/dist/
/War/dist/
/War GUI/dist/
/Psychotherapist/nbproject/private/
/Psychotherapist/build/
/Psychotherapist/dist/
/ProducerAndConsumer/nbproject/private/
/ProducerAndConsumer/build/
/ProducerAndConsumer/dist/
/CSThreads/nbproject/private/
/CSThreads/build/
/CSThreads/dist/
/NetworkTherapy/nbproject/private/
/NetworkTherapy/build/
/NetworkTherapy/dist/
/MulticlientChat/nbproject/private/
/MulticlientChat/build/
/MutliClientExample/nbproject/private/
/MulticlientChat/dist/
/OnlinePhonebook/nbproject/private/
/OnlinePhonebook/build/