/PostfixExpressions/target/
/UpperCase/nbproject/private/
/Uppercase/build/
/Uppercase/dist/
/IntegerCollection/nbproject/private/
/IntegerCollection/build/
/PostfixExpressions/nbproject/private/
/PostfixExpressions/build/
/PostfixExpressions/dist/
/IntegerCollection/dist/
/ConcordanceAlgorithm/nbproject/private/
/ConcordanceAlgorithm/build/
/ConcordanceAlgorithm/dist/